header{
    position:static;
}

nav{
    margin-top: 25px;
    margin-bottom:20px;
    color:white;
    min-height: 70px;
}

a.menu-item{
    text-decoration: none !important;
    color: white;
    font-size: 1.0vw;
}

a.menu-item:focus,
li.nav-center-child:hover{
    
    border-bottom:0.5px solid white;
    border-top:none !important;
    line-height: 40px;
    
}
/*making the underline size would work best with SASS where we define a psuedo element after and give that element a specified width and a bottom border
https://www.steckinsights.com/shorten-length-border-bottom-pure-css/*/

img.logo{
    width:100%;
    max-width:60px;
    display:inline-block;
}

button#adidas-url-btn{
    height:35px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background:rgba(255,255,255,1);
    border:none;
    text-align:center;
    font-size: 0.8vw;
    transition: all 0.3s ease-in-out;
    margin-top: 5%;
    width: max-content;
}



button#adidas-url-btn:hover,button#adidas-url-btn:focus{
    transform:scale(1.1,1.1);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button#adidas-url-btn:active{
    transform:scale(1.0,1.0);
    box-shadow:0 4px 8px 0 rgba(71, 30, 30, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.nav-left.col-1{
    padding-right: 1.04166666%;
}

.nav-right.col-1,.nav-right.col-2{
    padding-left: 1.04166666%;
    float:right;
}

.nav-center-parent{
    display:block;
    margin:0 auto;
    position: relative;
    text-align: center;
    /*left:32%;*/

}

.nav-center-child{
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    display:inline-block;
    width: min-content;
    margin: 0.8% 6%;
}

.nav-center-parent>ul.nav-list {
    padding-left: 0px;
    padding-top: 2vh;
    margin: 0px auto;
    height: 7vh;
    display: flex;
    justify-content: center;
    width: max-content;
    height: fit-content;
}



.menu-toggle,
.menu-close {
  display: none;
  color:rgb(255,255,255);
  width: fit-content;
  z-index: 1;
}

.menu-toggle{

    position: absolute;
    left: 6vw;
    top: 8.5vh;
}



/*Put the bars absolute in the top right corner after you figure everything out*/

@media screen and (max-width: 640px){

  .nav-center-parent{
    display: none;
  }

  .menu-toggle{
      display:block;
  }

  .nav-center-parent:target {
    display:block;
  }


  .menu-close:target + .nav-list{
      display:none;
  }

  .spacer{
      display:none;
  }

  .nav-right.col-2{
    width:fit-content;
    position:absolute;
    float:none;
    left:80vw;
    top:8.5vh;
  }

  a.menu-item{
    text-decoration: none !important;
    color: white;
    font-size: 3.0vw;
  }
/*
  .nav-center-parent{
    height: 11vh;
  }
*/
  .nav-center-parent>ul.nav-list {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2vh;
    margin: 0px auto;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    height: fit-content;
  }

  .nav-list a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }

  .nav-center-child {
    margin: 0.8% auto;
  }


}