*{
    box-sizing:border-box;
}

.row{
    max-width: 1350;
    padding-left:20px;
    padding-right:20px;
    margin: 15px auto;
}

.row::after,
.row::before{
    display:table;
    content:'';
}

.row::after{
    clear:both;
}

.col-12,.col-6,.col-4,.col-3,.col-2,.col-1{
    float:left;
}

.col-12,.col-6,.col-3,.col-4,.col-2,.col-1{
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}



.col-1,.col-2,.col-3,.col-4,.col-6,.col-12{
    width:100%;
}

.spacer{
    /*visibility: hidden;*/
    background:rgb(255,255,255);
    border: dashed 0.5px rgb(0, 0, 0);
    height: 20px;
}

@media screen and (min-width: 640px){
    .col-1{
        width:8.3333%;
    }
    .col-2{
        width:16.6666%;
    }
    .col-3{
        width:24.9999%;
    }
    .col-4{
        width:33.33323%;
    }
    .col-6{
        width:50%;
    }
    .col-12{
        width:100%;
    }
}


/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
